* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#hero,
#info,
#guide {
  width: 720px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./riverwood.jpg);
  background-size: cover;
  height: 340px;
  margin: 20px auto 0;
  font-family: "Expletus Sans", cursive;
  color: white;
  font-weight: 700;
  font-size: larger;
  text-shadow: 0 0 8px black;
  padding-top: 20px;
}

.heroText {
  background-color: #00000034;
  padding: 10px;
  border-radius: 30px 30px 0 0;
}

#heroSubtitle {
  border-radius: 30px;
}

#info {
  background: #dcedf2;
  height: 380px;
  margin: 0 auto;
}

#guide {
  background: #d1dfe3;
  height: 400px;
  margin: 0 auto 20px;
}
