* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Balgruf;
}

#hero,
#info,
#guide {
  width: 720px;
}

@font-face {
  font-family: Balgruf;
  src: url(./balgruf-font/Balgruf-JRye7.ttf);
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/riverwood.jpg);
  background-size: cover;
  height: 340px;
  margin: 20px auto 0;
  color: white;
  font-size: larger;
  text-shadow: 0 0 8px black;
  padding-top: 20px;
}

.heroText {
  background-color: #00000063;
  padding: 10px;
  border-radius: 30px 30px 0 0;
}

#heroSubtitle {
  border-radius: 30px;
}

#info {
  background: #dcedf2;
  height: 410px;
  margin: 0 auto;
}

#infoTitle {
  padding-top: 20px;
}

#activitiesContiner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.activity {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
}

.activityImage {
  border-radius: 50%;
  width: 150px;
  margin: 10px 0 20px;
  transition: 0.8s ease;
  border: 8px solid #7a8675;
}

.activityImage:hover {
  width: 200px;
  border: 4px solid #7a8675;
}

.activityDescription {
  font-size: large;
  padding: 5px;
}

#guide {
  background: #d1dfe3;
  height: 400px;
  margin: 0 auto 20px;
  padding: 40px;
}

#guideCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #9eb1b1;
  width: 450px;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  border-bottom: 4px solid #8f957d;
}

#guideImage {
  height: 230px;
  margin: auto 10px;
  border-radius: 10px;
}

.guideText {
  margin: 10px 22px 0 0;
}

#guideDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#guideQuote {
  font-style: italic;
}
